@viewport{
    zoom: 1.0;
    width: device-width;
}

h1 {
	color: white;
	font-family: arial;
	text-align: center;
	font-size: 3vw;
}

.header
{
	color: white;
	font-family: book antiqua;
 	text-align: left;
	text-decoration: none;
	font-size: 100%;
	overflow: hidden;
	background-color: #9999ff;
}

.sessionFlash {
	color: black;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	margin: 0 auto;
	width: 60%;
	background-color: #bb99ff;
}

.logout-button {
	margin-bottom: 1%;
}

.footer
{
	padding-top: 1%;
  	padding-bottom: 1%;
  	background-color: #9999ff;
  	border: 1px solid black;
}
  .logogate {
  	padding-left: 4%;
  	width: 12%;
  }

  .logotsp {
  	padding-left: 4%;
  	width: 10%;
  }

.pres
{
	font-size: 120%;
  	background-color : #efefff;
  	border: 1px solid black;
    font-family: arial;
    padding: 1% 1%;
}
  .logoproj {
    width: 7%;
    float: left;
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #9999ff;
  overflow: hidden;
  float: center;
/*  text-align: center;*/
}

.topnav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: inline;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 300%;
}


@media screen and (max-width: 600px) {
  .classe {
    float: none;
  }
  .classe a {
    float: center;
  }
}

.pres a {
  color: white;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9999ff;
  color: rgba(200, 0, 0, 0.9);
}

.pres a:hover {
  background-color: #ffffff;
  color: rgba(200, 0, 0, 0.9);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9999ff;
  color: white;

.modulepv {
    color : white;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
    width : 40%;
    padding: 1% 1%;
    background-color: rgba(246, 88, 0, 0.9);
}

.modulev {
    color : white;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
    width : 40%;
    padding: 1% 1%;
    background-color: rgba(80, 255, 60, 0.9);
}
