.header
{
	color: white;
	font-family: book antiqua;
  text-align: left;
  text-decoration: none;
  font-size: 40px;
  overflow: hidden;
  background-color: #9999ff;
}

.sessionFlash {
	color: black;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	margin: 0 auto;
	width: 1000px;
	background-color: #bb99ff;
}

.footer
{
	padding-top: 10px;
  	padding-bottom: 10px;
  	background-color: #9999ff;
  	border: 1px solid black;
}
  .logogate {
  	padding-left: 10px;
  	width: 150px;
  }

  .logotsp {
  	padding-left: 20px;
  	width: 150px;
  }

.pres
{
	font-size: 20px;
  	background-color : #efefff;
  	border: 1px solid black;
    font-family: arial;
    padding: 14px 16px;
}
  .logoproj {
    width: 30px;
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #9999ff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

.pres a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9999ff;
  color: rgba(200, 0, 0, 0.9);
}

.pres a:hover {
  background-color: #ffffff;
  color: rgba(200, 0, 0, 0.9);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9999ff;
  color: white;
}

.modulepv {
    color : white;
    border: 1px solid black;
    width : 300px;
    padding: 14px 16px;
    background-color: rgba(246, 88, 0, 0.9)
}

.modulev {
    color : white;
    border: 1px solid black;
    width : 300px;
    padding: 14px 16px;
    background-color: rgba(80, 255, 60, 0.9)
}
