@viewport{
	zoom: 1.0;
	width: device-width;
}

h1
{
	color: white;
	font-family: arial;
	font-size: 4vw;
	text-align: center;
}

h2
{
	font-size: 3vw;
}

.sessionFlash {
	color: black;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	margin: 0 auto;
	width: 60%;
	background-color: #bb99ff;
}

* {box-sizing: border-box;}

.logout-button {
	margin-bottom: 1%;
}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #99ccff;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 400%;
}


/* Active/current link */
.topnav a.active {
  
  color: white;
  font-family: book antiqua;
  background-color: #99ccff;
}

/* Style the input container */
.topnav .login-container {
  float: right;
  width: 12%;
}

/* Style the input field inside the navbar */
.topnav input[type=text], .topnav input[type=password] {
  padding: 4%;
  margin-top: 4%;
  font-size: 100%;
  border: none;
  width: 90%; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 4%;
  margin-top: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  background: #ddd;
  font-size: 100%;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav input[type=password], .topnav .login-container button {
    float: none;
    font-size: 100%;
    display: block;
    text-align: left;
    margin: 0;
    padding: 10%;
  }

  .topnav input[type=text] {
	  width: 300%;
  }
}

  .pres {
  	font-size: 120%;
  	background-color : #efefff;
  	border: 1px solid black;
    font-family: arial;
  }

  .pres h2 {
  	font-size: 200%;
  }

  .logoevry {
	padding-left: 4%;
	width: 15%;
  }

  .logofabrik {
	padding-left:4%;
	width: 30%;
  }

  .logogate {
  	padding-left: 4%;
  	width: 16%;
  }

  .logotsp {
  	padding-left: 4%;
  	width: 14%;
  }

  footer{
  	padding-top: 1%;
  	padding-bottom: 1%;
  	background-color: #99ccff;
  	border: 1px solid black;
  }
  .logoproj {
    width: 7%;
  }
