doctype html
html
    head
    body
        h1 Listes des ateliers youpi !
        - each atelier in ateliers
          p
            = atelier[1]

        script(src="http://code.jquery.com/jquery-1.10.1.min.js")
        script.
