doctype html
html
  head
    meta(charset='utf-8')
    title Passeport citoyen - Professeur
    link(rel='stylesheet', href='css/prof.css')
  body
    .header
      .navbar
        a.home(href='../')
          img.logoproj(src='images/logo-projet.png', alt='Logo projet', style='border:0')
          |      Passeport numérique - Interface professeur
        .logout-button(style='padding-top:10px; float: right; padding-right:4px')
          form(method='get', action='logout')
            button(type='submit') Se déconnecter
    .pres
      if sessionFlash && sessionFlash.message
        div(class=sessionFlash.type)
          p #{ sessionFlash.message }
      h2 Interface professeur
      p
        | Bienvenue sur l'interface professeur du Passeport Citoyen numérique. Celle-ci vous permet de consulter et modifier la liste des modules suivis et validés par chacun de vos élèves. Les changements dans cette interface affecteront l'interface des élèves concernés.
      form.searchStudent(method='post', action='gestioneleve')
        input(type='text', placeholder="Nom de l'élève", name='name')
        input(type='text', placeholder="Prénom de l'élève", name='forname')
        button(type='submit') Chercher
    .footer
      a(href='https://gate.wp.telecom-sudparis.eu/projet/parcours-citoyen/', target='_blank', title='https://gate.wp.telecom-sudparis.eu/projet/parcours-citoyen/')
        img.logogate(src='images/logo-gate.png', alt='Logo GATE', style='border:0')
      a(href='https://www.telecom-sudparis.eu/', target='_blank', title='https://www.telecom-sudparis.eu/')
        img.logotsp(src='images/logo-tsp.png', alt='Logo TSP', style='border:0')
