doctype html
html
  head
    meta(charset='utf-8')
    title Passeport citoyen - Professeur
    link(rel='stylesheet', href='css/prof.css')
  body
    .header
      .navbar
        a.home(href='../')
          img.logoproj(src='images/logo-projet.png', alt='Logo projet', style='border:0')
          |      Passeport numérique - Interface professeur
    .pres
      h2 Interface professeur
      p
        | L'interface professeur doit afficher la liste des modules pour chacun des élèves de ses classe afin qu'il puisse dire si tel élève a validé tel module. Les changemenst dans cette interface affecteront l'interface des élèves concernés.
      form.searchStudent(method='post', action='gestioneleve')
        input(type='text', placeholder="Nom de l'élève", name='name')
        input(type='text', placeholder="Prénom de l'élève", name='forname')
        button(type='submit') Chercher
    .footer
      a(href='https://gate.wp.telecom-sudparis.eu/projet/parcours-citoyen/', target='_blank', title='https://gate.wp.telecom-sudparis.eu/projet/parcours-citoyen/')
        img.logogate(src='images/logo-gate.png', alt='Logo GATE', style='border:0')
      a(href='https://www.telecom-sudparis.eu/', target='_blank', title='https://www.telecom-sudparis.eu/')
        img.logotsp(src='images/logo-tsp.png', alt='Logo TSP', style='border:0')
